
    <!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Аксессуары</title>
  <link rel="stylesheet" href="{% static 'css/phones.css' %}">
  <link rel="stylesheet" href="{% static 'css/header-footer.css' %}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function() {
    $(window).scroll(function() {
    if($(this).scrollTop() != 0) {
    $('#toTop').fadeIn();
    } else {
    $('#toTop').fadeOut();
    }
    });
    $('#toTop').click(function() {
    $('body,html').animate({scrollTop:0},800);
    });
    });
  </script>
</head>
<body>
<header class="site-header">
      <div class="site-header-top">
        <div class="site-header-top-left">
          <img src="{% static 'pictures/city.svg' %}">
          <a>Москва</a>
        </div>
        <div class="site-header-top-middle">
          <a href="https://rencredit.ru/">Для жизни</a>
          <a href="https://rencredit.ru/sme/">Для бизнеса</a>
          <a href="https://rencredit.ru/about/">О банке</a>
          <a href="https://rencredit.ru/addresses/">Отделения и банкоматы</a>
        </div>
        <div class="site-header-top-right">
          <img src="{% static 'pictures/mobile-bank.svg' %}">
          <a href="https://rencredit.ru/services/mobile-bank/" style="padding-right: 15px;">Мобильный банк</a>
          <img src="{% static 'pictures/internet-bank.svg' %}">
          <a href="https://ib.rencredit.ru/#/login">Интернет-банк</a>
        </div>
      </div>

      <div class="site-header-bottom">
        <a href='/'>
          <img class="logo" src="{% static 'pictures/new_logo.svg' %}">
        </a>
        <a class="cathegory-items" href = 'phones'>
          Смартфоны
        </a>
        <a class="cathegory-items" href = 'laptops'>
          Ноутбуки
        </a>
        <a class="cathegory-items" href="tv">
          Телевизоры
        </a>
        <a class="cathegory-items" href = 'computers'>
          Компьютеры
        </a>
        <a class="cathegory-items" href = 'tablets'>
          Планшеты
        </a>
        <a style="color: #ff0078;"class="cathegory-items" href = 'accessories'>
          Аксессуары
        </a>
        <a class="cathegory-items">
          Поиск
        </a>
        <a class="shopping-cart" href = 'basket'>
          Корзина
        </a>
      </div>

    </header> <br>

         <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-tfn-dlya-honor-x6-tpu-prozrachnyi">
        <img class="item-photo" src="{% static 'pictures/accessories/50174463.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-tfn-dlya-honor-x6-tpu-prozrachnyi>
        <p class="item-name">
            Чехол TFN для Honor X6 TPU прозрачный
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">TFN</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Honor X6"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса накладка</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        499 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-apple-iphone-14-pro-clear-magsafe">
        <img class="item-photo" src="{% static 'pictures/accessories/50173706.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-apple-iphone-14-pro-clear-magsafe>
        <p class="item-name">
            Чехол Apple iPhone 14 Pro Clear MagSafe
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Apple iPhone 14 Pro"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса клип-кейс (накладка)</span></li>
        <li>Материал чехла: <span class="text-highligt">Материал чехла поликарбонат</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        5999 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-tfn-dlya-honor-70-slimskin-chernyi">
        <img class="item-photo" src="{% static 'pictures/accessories/50174460.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-tfn-dlya-honor-70-slimskin-chernyi>
        <p class="item-name">
            Чехол TFN для Honor 70 Slimskin черный
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">TFN</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Honor 70"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса накладка</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        999 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-vlp-gloss-dlya-honor-70-prozrachnyi">
        <img class="item-photo" src="{% static 'pictures/accessories/50174114.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-vlp-gloss-dlya-honor-70-prozrachnyi>
        <p class="item-name">
            Чехол vlp Gloss для Honor 70 прозрачный
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">vlp</span></li>
        <li>Подходит для: <span class="text-highligt">Не указано"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса чехол</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        799 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-red-line-ultimate-dlya-xiaomi-redmi-10c-chernyi">
        <img class="item-photo" src="{% static 'pictures/accessories/50172027.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-red-line-ultimate-dlya-xiaomi-redmi-10c-chernyi>
        <p class="item-name">
            Чехол Red Line Ultimate для Xiaomi Redmi 10C черный
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Red Line</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Xiaomi Redmi Note 10C"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.43"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса клип-кейс (накладка)</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        599 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-tfn-dlya-samsung-s23-ultra-hard-s-podderzhkoi-magsafe">
        <img class="item-photo" src="{% static 'pictures/accessories/400095282.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-tfn-dlya-samsung-s23-ultra-hard-s-podderzhkoi-magsafe>
        <p class="item-name">
            Чехол TFN для Samsung S23 Ultra HARD с поддержкой MagSafe
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">TFN</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Samsung S23 Ultra"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.8"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Не указан</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        1499 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-tfn-dlya-samsung-s23-plus-hard-s-podderzhkoi-magsafe">
        <img class="item-photo" src="{% static 'pictures/accessories/400095366.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-tfn-dlya-samsung-s23-plus-hard-s-podderzhkoi-magsafe>
        <p class="item-name">
            Чехол TFN для Samsung S23 Plus HARD с поддержкой MagSafe
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">TFN</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Samsung S23 Plus"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.7"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Не указан</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        1499 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-tfn-dlya-samsung-a14-tpu">
        <img class="item-photo" src="{% static 'pictures/accessories/400106121.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-tfn-dlya-samsung-a14-tpu>
        <p class="item-name">
            Чехол TFN для Samsung A14 TPU
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">TFN</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Samsung A14"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.78"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Не указан</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        599 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-tfn-iphone-13-silicone-black-tfn-ss-ip13sbk">
        <img class="item-photo" src="{% static 'pictures/accessories/50163807.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-tfn-iphone-13-silicone-black-tfn-ss-ip13sbk>
        <p class="item-name">
            Чехол TFN iPhone 13 Silicone Black (TFN-SС-IP13SBK)
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">TFN</span></li>
        <li>Подходит для: <span class="text-highligt">Не указано"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса клип-кейс (накладка)</span></li>
        <li>Материал чехла: <span class="text-highligt">Материал чехла пластик</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        999 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-apple-iphone-14-pro-max-clear-magsafe">
        <img class="item-photo" src="{% static 'pictures/accessories/50173707.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-apple-iphone-14-pro-max-clear-magsafe>
        <p class="item-name">
            Чехол Apple iPhone 14 Pro Max Clear MagSafe
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Apple iPhone 14 Pro Max"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса клип-кейс (накладка)</span></li>
        <li>Материал чехла: <span class="text-highligt">Материал чехла поликарбонат</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        5999 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-samsung-silicone-cover-a54-black-ef-pa546tbegru">
        <img class="item-photo" src="{% static 'pictures/accessories/50175570.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-samsung-silicone-cover-a54-black-ef-pa546tbegru>
        <p class="item-name">
            Чехол Samsung Silicone Cover A54 Black (EF-PA546TBEGRU)
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Samsung</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Samsung Galaxy A54 5G"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса клипкейс</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        2499 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-vlp-honor-x9a-1051083">
        <img class="item-photo" src="{% static 'pictures/accessories/400097321.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-vlp-honor-x9a-1051083>
        <p class="item-name">
            Чехол vlp Honor X9a 1051083
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">vlp</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Honor X9a"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.67"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Не указан</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        999 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-deppa-galaxy-a54-5g-88393">
        <img class="item-photo" src="{% static 'pictures/accessories/400102186.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-deppa-galaxy-a54-5g-88393>
        <p class="item-name">
            Чехол Deppa Galaxy A54 5G (88393)
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Deppa</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Samsung Galaxy A54 5G"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.4"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса накладка, бампер</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        799 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-tfn-dlya-realme-c31-tpu-clear">
        <img class="item-photo" src="{% static 'pictures/accessories/50173397.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-tfn-dlya-realme-c31-tpu-clear>
        <p class="item-name">
            Чехол TFN для Realme C31 TPU clear
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">TFN</span></li>
        <li>Подходит для: <span class="text-highligt">Не указано"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Не указан</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        499 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-vlp-gloss-case-magsafe-dlya-iphone-14-pro-max-prozrachnyi">
        <img class="item-photo" src="{% static 'pictures/accessories/50173555.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-vlp-gloss-case-magsafe-dlya-iphone-14-pro-max-prozrachnyi>
        <p class="item-name">
            Чехол vlp Gloss case MagSafe для iPhone 14 Pro Max прозрачный
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">vlp</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Apple iPhone 14 Pro Max"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса чехол</span></li>
        <li>Материал чехла: <span class="text-highligt">Материал чехла поликарбонат/ термополиуретан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        1599 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-vlp-silicone-s-magsafe-dlya-iphone-14-pro-purple">
        <img class="item-photo" src="{% static 'pictures/accessories/50173585.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-vlp-silicone-s-magsafe-dlya-iphone-14-pro-purple>
        <p class="item-name">
            Чехол vlp Silicone с MagSafe для iPhone 14 Pro Purple
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">vlp</span></li>
        <li>Подходит для: <span class="text-highligt">Не указано"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса чехол</span></li>
        <li>Материал чехла: <span class="text-highligt">Материал чехла силикон</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        1999 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-tfn-dlyasamsung-s23-hard-s-podderzhkoi-magsafe">
        <img class="item-photo" src="{% static 'pictures/accessories/400095360.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-tfn-dlyasamsung-s23-hard-s-podderzhkoi-magsafe>
        <p class="item-name">
            Чехол TFN для Samsung S23 HARD с поддержкой MagSafe
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">TFN</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Samsung S23"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.7"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Не указан</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        1499 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-vlp-honor-x9a-1053053">
        <img class="item-photo" src="{% static 'pictures/accessories/400097311.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-vlp-honor-x9a-1053053>
        <p class="item-name">
            Чехол vlp Honor X9a 1053053
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">vlp</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Honor X9a"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.67"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса чехол</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        799 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-vlp-gloss-dlya-honor-x8a-prozrachnyi">
        <img class="item-photo" src="{% static 'pictures/accessories/400099329.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-vlp-gloss-dlya-honor-x8a-prozrachnyi>
        <p class="item-name">
            Чехол vlp Gloss для Honor X8a прозрачный
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">vlp</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Honor X8a"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.7"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса чехол</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        799 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-deppa-galaxy-a34-5g-88392">
        <img class="item-photo" src="{% static 'pictures/accessories/400102185.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-deppa-galaxy-a34-5g-88392>
        <p class="item-name">
            Чехол Deppa Galaxy A34 5G (88392)
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Deppa</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Samsung Galaxy A34 5G"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.5"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса накладка, бампер</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        799 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-zashhitnyi-vlp-gloss-case-magsafe-dlya-iphone-14-pro-prozrachnyi">
        <img class="item-photo" src="{% static 'pictures/accessories/50173554.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-zashhitnyi-vlp-gloss-case-magsafe-dlya-iphone-14-pro-prozrachnyi>
        <p class="item-name">
            Чехол защитный vlp Gloss case MagSafe для iPhone 14 Pro прозрачный
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">vlp</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Apple iPhone 14 Pro"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса чехол</span></li>
        <li>Материал чехла: <span class="text-highligt">Материал чехла поликарбонат/ термополиуретан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        1599 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-vlp-silicone-s-magsafe-dlya-iphone-14-promax-purple">
        <img class="item-photo" src="{% static 'pictures/accessories/50173586.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-vlp-silicone-s-magsafe-dlya-iphone-14-promax-purple>
        <p class="item-name">
            Чехол vlp Silicone с MagSafe для iPhone 14 ProMax Purple
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">vlp</span></li>
        <li>Подходит для: <span class="text-highligt">Не указано"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса чехол</span></li>
        <li>Материал чехла: <span class="text-highligt">Материал чехла силикон</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        1999 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-deppa-gel-shockproof-honor-x8-prozrachnyi">
        <img class="item-photo" src="{% static 'pictures/accessories/50171054.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-deppa-gel-shockproof-honor-x8-prozrachnyi>
        <p class="item-name">
            Чехол Deppa Gel Shockproof Honor X8 прозрачный
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Deppa</span></li>
        <li>Подходит для: <span class="text-highligt">Подходит для Honor X8"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Для моделей с диагональю экрана 6.7"</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса клипкейс</span></li>
        <li>Материал чехла: <span class="text-highligt">Не указан</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        799 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="accessories/chehol-vlp-silicone-s-magsafe-dlya-iphone-14-pro-black">
        <img class="item-photo" src="{% static 'pictures/accessories/50173581.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 30%">Кэшбек 30%</p>
    </div>
    <div class="item-info">
    <a href=accessories/chehol-vlp-silicone-s-magsafe-dlya-iphone-14-pro-black>
        <p class="item-name">
            Чехол vlp Silicone с MagSafe для iPhone 14 Pro Black
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">vlp</span></li>
        <li>Подходит для: <span class="text-highligt">Не указано"</span></li>
        <li>Для моделей с диагональю экрана: <span class="text-highligt">Не указано</span></li>
        <li>Тип корпуса: <span class="text-highligt">Тип корпуса чехол</span></li>
        <li>Материал чехла: <span class="text-highligt">Материал чехла силикон</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        1499 ₽
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
        
    <DIV ID = "toTop" ><img style="width: 30px; opacity: 70%;" src="{% static 'pictures/arrow-icon.svg' %}" alt=""></DIV>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Сервис</h4>
            <ul>
              <li><a href="about_us">О нас</a></li>
              <li><a href="https://rencredit.ru/about/">О банке</a></li>
              <li><a href="https://rencredit.ru/addresses/">Отделения и банкоматы</a></li>
              <li><a href="https://rencredit.ru/services/">Сервисы и услуги</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Помощь</h4>
            <ul>
              <li><a href="https://rencredit.ru/support/faq/">Поддержка клиентов</a></li>
              <li><a href="https://rencredit.ru/support/appeals/">Обратная связь</a></li>
              <li><a href="https://rencredit.ru/doc/support/forms/formy-tipovykh-spravok/">Форма справок и документов</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Услуги</h4>
            <ul>
              <li><a href="https://rencredit.ru/loans/">Кредиты</a></li>
              <li><a href="https://rencredit.ru/cards/">Карты</a></li>
              <li><a href="https://rencredit.ru/deposits/">Вклады</a></li>
              <li><a href="https://rencredit.ru/investments/">Инвестиции</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Контакты</h4>
            <div class="contact-info">
            <ul>
              <p style="color: #bbbbbb; font-size: 12px;">круглосуточно, бесплатно по России</p>
              <li><a href="#">8 800 200-0-981</a></li>
              <p style="color: #bbbbbb; font-size: 12px;">Номер может использоваться для исходящих вызовов</p>
              <li><a href="#">8 495 783-46-23</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
   </footer>
    </body>
    </html>