<!DOCTYPE html>
{% load static %}
<html lang="rus" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ренессанс Tech</title>
  <!-- <link rel="shortcut icon" href="Renessans-icon.ico" type="image/x-icon"> -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


  <div class="wrap">
    <!-- Заголовок -->
    <header class="site-header">
      <div class="site-header-top">
        <div class="site-header-top-left">
          <img src="{% static 'pictures/city.svg' %}">
          <a>Москва</a>
        </div>
        <div class="site-header-top-middle">
          <a href="https://rencredit.ru/">Для жизни</a>
          <a href="https://rencredit.ru/sme/">Для бизнеса</a>
          <a href="https://rencredit.ru/about/">О банке</a>
          <a href="https://rencredit.ru/addresses/">Отделения и банкоматы</a>
        </div>
        <div class="site-header-top-right">
          <img src="{% static 'pictures/mobile-bank.svg' %}">
          <a href="https://rencredit.ru/services/mobile-bank/" style="padding-right: 15px;">Мобильный банк</a>
          <img src="{% static 'pictures/internet-bank.svg' %}">
          <a href="https://ib.rencredit.ru/#/login">Интернет-банк</a>
        </div>
      </div>

      <div class="site-header-bottom">
        <a href="">
          <img class="logo" src="{% static 'pictures/new_logo.svg' %}">
        </a>
        <a class="cathegory-items" href = 'phones'>
          Смартфоны
        </a>
        <a class="cathegory-items" href = 'laptops'>
          Ноутбуки
        </a>
        <a class="cathegory-items" href="appliances">
          Бытовая техника
        </a>
        <a class="cathegory-items" href = 'computers'>
          Компьютеры
        </a>
        <a class="cathegory-items" href = 'tablets'>
          Планшеты
        </a>
        <a class="cathegory-items" href = 'accessories'>
          Аксессуары
        </a>
        <a class="cathegory-items">
          Поиск
        </a>
        <a class="shopping-cart" href = 'basket'>
          Корзина
        </a>
      </div>

    </header>
    <!-- Тело -->
    <div class="main-body">
      <img class="banner-img" src="{% static 'pictures/main-banner.png' %}" alt="пу пу">
      <div class="banner-and-buttons">
        <div class="right-section">
          <a href="https://anketa.rencredit.ru/app/credit/site/#anketa">
          <button>Оформить потребительский кредит</button>
          </a>
          <button>Популярные товары</button>
          <button>О нашем сервисе</button>
        </div>
      </div>

    </div>
  </div>


</body>
</html>