
    <!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Смартфоны</title>
  <link rel="stylesheet" href="{% static 'css/phones.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header class="site-header">
      <div class="site-header-top">
        <div class="site-header-top-left">
          <img src="{% static 'pictures/city.svg' %}">
          <a>Москва</a>
        </div>
        <div class="site-header-top-middle">
          <a href="https://rencredit.ru/">Для жизни</a>
          <a href="https://rencredit.ru/sme/">Для бизнеса</a>
          <a href="https://rencredit.ru/about/">О банке</a>
          <a href="https://rencredit.ru/addresses/">Отделения и банкоматы</a>
        </div>
        <div class="site-header-top-right">
          <img src="{% static 'pictures/mobile-bank.svg' %}">
          <a href="https://rencredit.ru/services/mobile-bank/" style="padding-right: 15px;">Мобильный банк</a>
          <img src="{% static 'pictures/internet-bank.svg' %}">
          <a href="https://ib.rencredit.ru/#/login">Интернет-банк</a>
        </div>
      </div>

      <div class="site-header-bottom">
        <a href='/'>
          <img class="logo" src="{% static 'pictures/logo.svg' %}">
        </a>
        <a class="cathegory-items" href = 'phones1'>
          Смартфоны
        </a>
        <a class="cathegory-items" href = 'laptops'>
          Ноутбуки
        </a>
        <a class="cathegory-items" href="appliances">
          Бытовая техника
        </a>
        <a class="cathegory-items" href = 'computers'>
          Компьютеры
        </a>
        <a class="cathegory-items" href = 'tablets'>
          Планшеты
        </a>
        <a class="cathegory-items" href = 'smart speakers'>
          Умные колонки
        </a>
        <a class="cathegory-items">
          Поиск
        </a>
        <a class="shopping-cart" href = 'basket'>
          Корзина
        </a>
      </div>

    </header> <br>
    
        <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-huawei-p60-pro-8-256gb-rococo-pearl>
        <p class="item-name">
            Смартфон HUAWEI P60 Pro 8/256GB Rococo Pearl
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">HUAWEI</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.67"</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Qualcomm Snapdragon 8 Gen 1</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 256</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 48/13/48</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        69999
      </p>
      <p class="item-previous-price">
        79999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-huawei-nova-11i-8-128gb-mint-green-mao-lx9n>
        <p class="item-name">
            Смартфон HUAWEI nova 11i 8/128Gb Mint Green (MAO-LX9N)
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">HUAWEI</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.8"/2388x1080 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Qualcomm Snapdragon 680 2.4 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 48/2</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        15999
      </p>
      <p class="item-previous-price">
        17999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-apple-iphone-14-pro-256gb-nanosim-esim-deep-purple>
        <p class="item-name">
            Смартфон Apple iPhone 14 Pro 256GB nanoSim/eSim Deep Purple
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.1"/2556x1179 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор A16 Bionic</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 256</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 48/12/12</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        120499
      </p>
      <p class="item-previous-price">
        129999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-realme-gt3-240w-16-1tb-booster-black>
        <p class="item-name">
            Смартфон realme GT3 240W 16/1TB Booster Black
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">realme</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.74"/2772x1240 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Qualcomm Snapdragon 8+ Gen 1 3 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 1024</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 50/8/2/AF</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        69999
      </p>
      <p class="item-previous-price">
        79999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-xiaomi-redmi-9a-32gb-glacial-blue>
        <p class="item-name">
            Смартфон Xiaomi Redmi 9A 32GB Glacial Blue
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Xiaomi</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.53"/1600x720 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Mediatek 2 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 32</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 13</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        4999
      </p>
      <p class="item-previous-price">
        8999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-samsung-galaxy-s23-ultra-256gb-phantblack-sm-s918b-ds>
        <p class="item-name">
            Смартфон Samsung Galaxy S23 Ultra 256GB Phant.Black (SM-S918B/DS)
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Samsung</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.8"/3088x1440 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Qualcomm Snapdragon 8 Gen 2</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 256</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 12/200/10/10</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        102999
      </p>
      <p class="item-previous-price">
        109999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-honor-x8-6-128gb-midnight-black-5109acxu>
        <p class="item-name">
            Смартфон HONOR X8 6/128GB Midnight Black (5109ACXU)
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">HONOR</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.7"/2388x1080 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Qualcomm Snapdragon 680 4 x 2.4ГГц + 4 x 1.9ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 64/5</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        14999
      </p>
      <p class="item-previous-price">
        23999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-apple-iphone-13-128gb-nanosim-esim-starlight>
        <p class="item-name">
            Смартфон Apple iPhone 13 128GB nanoSim/eSim Starlight
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.1"/2532x1170 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор A15 Bionic</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 12/12</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        69999
      </p>
      <p class="item-previous-price">
        79999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-samsung-galaxy-s22-5g-8-128gb-phantom-black-sm-s901b-ds>
        <p class="item-name">
            Смартфон Samsung Galaxy S22 5G 8/128GB Phantom Black (SM-S901B/DS)
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Samsung</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.1"/2400x1080 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Samsung Exynos 2200 1 x 2.59 ГГц + 3 x 2.5 ГГц + 4 x 1.73 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 12/50/10/TOF</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        59999
      </p>
      <p class="item-previous-price">
        59999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-honor-x8-6128gb-titanium-silver>
        <p class="item-name">
            Смартфон HONOR X8 6+128Gb Titanium Silver
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">HONOR</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.7"/2388x1080 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Qualcomm Snapdragon 680 2.4 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 64/5/2/2</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        14999
      </p>
      <p class="item-previous-price">
        23999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-realme-c31-3-32-dark-green-rmx3501>
        <p class="item-name">
            Смартфон realme C31 3/32 Dark Green (RMX3501)
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">realme</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.5"/1600x720 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор UNISOC Unisoc T612 1.82 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 32</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 13/2/2</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        5399
      </p>
      <p class="item-previous-price">
        12999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-huawei-nova-11i-8-128gb-starry-black-mao-lx9n>
        <p class="item-name">
            Смартфон HUAWEI nova 11i 8/128Gb Starry Black (MAO-LX9N)
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">HUAWEI</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.8"/2388x1080 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Qualcomm Snapdragon 680 2.4 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 48/2</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        15999
      </p>
      <p class="item-previous-price">
        17999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-realme-c31-3-32-light-silver-rmx3501>
        <p class="item-name">
            Смартфон realme C31 3/32 Light Silver (RMX3501)
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">realme</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.5"/1600x720 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор UNISOC Unisoc T612 1.82 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 32</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 13/2/2</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        5399
      </p>
      <p class="item-previous-price">
        12999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-vivo-v25e-8-128gb-sunrise-gold>
        <p class="item-name">
            Смартфон vivo V25e 8/128Gb Sunrise Gold
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">vivo</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.44"/2404x1080 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Mediatek Helio G99 2 x 2.2 ГГц + 6 x 2 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 64/2/2</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        18999
      </p>
      <p class="item-previous-price">
        27999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-xiaomi-redmi-10-2022-128gb-carbon-gray>
        <p class="item-name">
            Смартфон Xiaomi Redmi 10 2022 128GB Carbon Gray
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Xiaomi</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.5"/2400x1080 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Mediatek Helio G88 2 x 2 ГГц + 6 x 1.8 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 50/8/2/2</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        11999
      </p>
      <p class="item-previous-price">
        18999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-apple-iphone-14-pro-128gb-esim-deep-purple>
        <p class="item-name">
            Смартфон Apple iPhone 14 Pro 128GB eSim Deep Purple
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.1"/2556x1179 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор A16 Bionic</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 48/12/12</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        106499
      </p>
      <p class="item-previous-price">
        119999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-apple-iphone-14-pro-128gb-nanosim-esim-deep-purple>
        <p class="item-name">
            Смартфон Apple iPhone 14 Pro 128GB nanoSim/eSim Deep Purple
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.1"/2556x1179 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор A16 Bionic</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 48/12/12</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        109499
      </p>
      <p class="item-previous-price">
        119999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-xiaomi-redmi-10-2022-64gb-carbon-gray>
        <p class="item-name">
            Смартфон Xiaomi Redmi 10 2022 64GB Carbon Gray
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Xiaomi</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.5"/2400x1080 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Mediatek Helio G88 2 x 2 ГГц + 6 x 1.8 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 64</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 50/8/2/2</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        9999
      </p>
      <p class="item-previous-price">
        16999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-apple-iphone-11-64gb-nanosim-esim-black>
        <p class="item-name">
            Смартфон Apple iPhone 11 64GB nanoSim/eSim Black
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.1"/1792x828 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор A13 Bionic</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 64</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 12/12</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        45999
      </p>
      <p class="item-previous-price">
        57999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-samsung-galaxy-a54-256gb-awesome-white>
        <p class="item-name">
            Смартфон Samsung Galaxy A54 256GB Awesome White
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Samsung</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.4"/2340x1080 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор Samsung Exynos 1380 2.4 ГГц</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 256</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 50/12/5</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        37999
      </p>
      <p class="item-previous-price">
        37999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-apple-iphone-11-128gb-nanosim-esim-black>
        <p class="item-name">
            Смартфон Apple iPhone 11 128GB nanoSim/eSim Black
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.1"/1792x828 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор A13 Bionic</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 12/12</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        52999
      </p>
      <p class="item-previous-price">
        62999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-apple-iphone-13-128gb-nanosim-esim-blue>
        <p class="item-name">
            Смартфон Apple iPhone 13 128GB nanoSim/eSim Blue
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.1"/2532x1170 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор A15 Bionic</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 12/12</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        69999
      </p>
      <p class="item-previous-price">
        79999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-apple-iphone-13-128gb-nanosim-esim-midnight>
        <p class="item-name">
            Смартфон Apple iPhone 13 128GB nanoSim/eSim Midnight
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.1"/2532x1170 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор A15 Bionic</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 12/12</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        69999
      </p>
      <p class="item-previous-price">
        79999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
            <div class="item-box">
    <div class="item-photo-container">
        <img class="item-photo" src="https://github.com/MargaritaUsova/pract/blob/9a3f2e416db3fc429b15578f2280301cfe70b7be/pract/renessans_tech/static/pictures/phones/test-img.jpg">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар с кэшбэком 10%">Кэшбек 10%</p>
    </div>
    <div class="item-info">
    <a href=phones/smartfon-apple-iphone-14-pro-max-128gb-nanosim-esim-deep-purple>
        <p class="item-name">
            Смартфон Apple iPhone 14 Pro Max 128GB nanoSim/eSim Deep Purple
        </p>
      </li>
      <ul>
        <li>Бренд: <span class="text-highligt">Apple</span></li>
        <li>Экран: <span class="text-highligt">Экран 6.7"/2796x1290 Пикс</span></li>
        <li>Тип процессора: <span class="text-highligt">Процессор A16 Bionic</span></li>
        <li>Встроенная память (ROM) <span class="text-highligt">Встроенная память (ROM) 128</span></li>
        
        <li>Основная камера МПикс <span class="text-highligt">Основная камера МПикс 48/12/12</span></li>
      </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        119999
      </p>
      <p class="item-previous-price">
        129999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
        </body>
    </html>