
    <!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/phone_page.css' %}">
  <link rel="stylesheet" href="{% static 'css/header-footer.css' %}">
</head>
<body>
<header class="site-header">
      <div class="site-header-top">
        <div class="site-header-top-left">
          <img src="{% static 'pictures/city.svg' %}">
          <a>Москва</a>
        </div>
        <div class="site-header-top-middle">
          <a href="https://rencredit.ru/">Для жизни</a>
          <a href="https://rencredit.ru/sme/">Для бизнеса</a>
          <a href="https://rencredit.ru/about/">О банке</a>
          <a href="https://rencredit.ru/addresses/">Отделения и банкоматы</a>
        </div>
        <div class="site-header-top-right">
          <img src="{% static 'pictures/mobile-bank.svg' %}">
          <a href="https://rencredit.ru/services/mobile-bank/" style="padding-right: 15px;">Мобильный банк</a>
          <img src="{% static 'pictures/internet-bank.svg' %}">
          <a href="https://ib.rencredit.ru/#/login">Интернет-банк</a>
        </div>
      </div>

      <div class="site-header-bottom">
        <a href='/'>
          <img class="logo" src="{% static 'pictures/new_logo.svg' %}">
        </a>
        <a style="color: #ff0078;" class="cathegory-items" href = '/phones'>
          Смартфоны
        </a>
        <a class="cathegory-items" href = '/laptops'>
          Ноутбуки
        </a>
        <a class="cathegory-items" href="/tv">
          Телевизоры
        </a>
        <a class="cathegory-items" href = '/computers'>
          Компьютеры
        </a>
        <a class="cathegory-items" href = '/tablets'>
          Планшеты
        </a>
        <a class="cathegory-items" href = '/accessories'>
          Аксессуары
        </a>
        <a class="cathegory-items">
          Поиск
        </a>
        <a class="shopping-cart" href = '/basket'>
          Корзина
        </a>
      </div>

    </header> <br>
    <div class="item-box">
      <div class="item-photo-container">
        <div class="slideshow-container">

          <div class="mySlides fade">
            <img class="item-photo" src="{% static 'pictures/test-1.avif' %}" style="width:100%">
          </div>

          <div class="mySlides fade">
            <img class="item-photo " src="{% static 'pictures/test-2.avif' %}" style="width:100%">
          </div>

          <div class="mySlides fade">
            <img class="item-photo " src="{% static 'pictures/test-3.avif' %}" style="width:100%">
          </div>

          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>

        </div>
          <br>

          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>

          <script>
          var slideIndex = 1;
          showSlides(slideIndex);

          function plusSlides(n) {{
            showSlides(slideIndex += n);
          }}

          function currentSlide(n) {{
            showSlides(slideIndex = n);
          }}

          function showSlides(n) {{
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}}
            if (n < 1) {slideIndex = slides.length}}
            for (i = 0; i < slides.length; i++) {{
                slides[i].style.display = "none";
            }}
            for (i = 0; i < dots.length; i++) {{
                dots[i].className = dots[i].className.replace(" active", "");
            }}
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
          }}
          </script>
        <p class="cashback-text" data-tooltip="Купите этот товар с кэшбеком 10%">Кэшбек 10%</p>
      </div>
      <div class="item-info">
        <p id="item-name" class="item-name">
          Смартфон Apple iPhone 14 Pro Max 128GB nanoSim/eSim Deep Purple
        </p>
        <p style="font-weight: bold;">
          Характеристики:
        </p>
        <ul>
          <li class="feature-1">Экран: <span id="feature-info-1" class="text-highligt">6.1"/2556x1179 Пикс</p></li>
          <li class="feature-2">Технология экрана: <span id="feature-info-2" class="text-highligt">OLED</span></li>
          <li class="feature-3">Тип процессора: <span id="feature-info-3" class="text-highligt">A16 Bionic</span></li>
          <li class="feature-4">Встроенная память (ROM) <span id="feature-info-4" class="text-highligt">128 ГБ</span></li>
          <li class="feature-5">Основная камера МПикс <span  id="feature-info-5" class="text-highligt">48/12/12</span></li>
        </ul>
        <a style="color:#ff0078;" href = "https://www.mvideo.ru/products/smartfon-apple-iphone-14-pro-max-128gb-nanosim-esim-deep-purple-30064939">
          Подробнее на сайте М.Видео
        </a>
      </div>
      <div class="item-price-container">
        <p id="item-current-price" class="item-current-price">
          103 999 ₽
        </p>
        <p id="item-previous-price" class="item-previous-price">
          119 999
        </p>
        <button class="add-to-cart">В корзину</button> <br>
        <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
          <button class="credit-btn">Купить в кредит</button>
        </a>
      </div>
    </div>

  <script>
    const currentUrl = window.location.href;
    
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-huawei-p60-pro-8-256gb-rococo-pearl"){
      document.getElementById("item-name").innerHTML = "Смартфон HUAWEI P60 Pro 8/256GB Rococo Pearl";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.67";
      document.getElementById("item-current-price").innerHTML = "69999 ₽";
      document.getElementById("item-previous-price").innerHTML = "79999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.67";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-huawei-nova-11i-8-128gb-mint-green-mao-lx9n"){
      document.getElementById("item-name").innerHTML = "Смартфон HUAWEI nova 11i 8/128Gb Mint Green (MAO-LX9N)";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.8/2388x1080 Пикс";
      document.getElementById("item-current-price").innerHTML = "15999 ₽";
      document.getElementById("item-previous-price").innerHTML = "17999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.8/2388x1080 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-14-pro-256gb-nanosim-esim-deep-purple"){
      document.getElementById("item-name").innerHTML = "Смартфон Apple iPhone 14 Pro 256GB nanoSim/eSim Deep Purple";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.1/2556x1179 Пикс";
      document.getElementById("item-current-price").innerHTML = "120499 ₽";
      document.getElementById("item-previous-price").innerHTML = "129999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.1/2556x1179 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-realme-gt3-240w-16-1tb-booster-black"){
      document.getElementById("item-name").innerHTML = "Смартфон realme GT3 240W 16/1TB Booster Black";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.74/2772x1240 Пикс";
      document.getElementById("item-current-price").innerHTML = "69999 ₽";
      document.getElementById("item-previous-price").innerHTML = "79999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.74/2772x1240 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-xiaomi-redmi-9a-32gb-glacial-blue"){
      document.getElementById("item-name").innerHTML = "Смартфон Xiaomi Redmi 9A 32GB Glacial Blue";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.53/1600x720 Пикс";
      document.getElementById("item-current-price").innerHTML = "4999 ₽";
      document.getElementById("item-previous-price").innerHTML = "8999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.53/1600x720 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-samsung-galaxy-s23-ultra-256gb-phantblack-sm-s918b-ds"){
      document.getElementById("item-name").innerHTML = "Смартфон Samsung Galaxy S23 Ultra 256GB Phant.Black (SM-S918B/DS)";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.8/3088x1440 Пикс";
      document.getElementById("item-current-price").innerHTML = "102999 ₽";
      document.getElementById("item-previous-price").innerHTML = "109999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.8/3088x1440 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-honor-x8-6-128gb-midnight-black-5109acxu"){
      document.getElementById("item-name").innerHTML = "Смартфон HONOR X8 6/128GB Midnight Black (5109ACXU)";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.7/2388x1080 Пикс";
      document.getElementById("item-current-price").innerHTML = "14999 ₽";
      document.getElementById("item-previous-price").innerHTML = "23999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.7/2388x1080 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-13-128gb-nanosim-esim-starlight"){
      document.getElementById("item-name").innerHTML = "Смартфон Apple iPhone 13 128GB nanoSim/eSim Starlight";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.1/2532x1170 Пикс";
      document.getElementById("item-current-price").innerHTML = "69999 ₽";
      document.getElementById("item-previous-price").innerHTML = "79999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.1/2532x1170 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-samsung-galaxy-s22-5g-8-128gb-phantom-black-sm-s901b-ds"){
      document.getElementById("item-name").innerHTML = "Смартфон Samsung Galaxy S22 5G 8/128GB Phantom Black (SM-S901B/DS)";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.1/2400x1080 Пикс";
      document.getElementById("item-current-price").innerHTML = "59999 ₽";
      document.getElementById("item-previous-price").innerHTML = "59999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.1/2400x1080 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-honor-x8-6128gb-titanium-silver"){
      document.getElementById("item-name").innerHTML = "Смартфон HONOR X8 6+128Gb Titanium Silver";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.7/2388x1080 Пикс";
      document.getElementById("item-current-price").innerHTML = "14999 ₽";
      document.getElementById("item-previous-price").innerHTML = "23999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.7/2388x1080 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-realme-c31-3-32-dark-green-rmx3501"){
      document.getElementById("item-name").innerHTML = "Смартфон realme C31 3/32 Dark Green (RMX3501)";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.5/1600x720 Пикс";
      document.getElementById("item-current-price").innerHTML = "5399 ₽";
      document.getElementById("item-previous-price").innerHTML = "12999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.5/1600x720 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-huawei-nova-11i-8-128gb-starry-black-mao-lx9n"){
      document.getElementById("item-name").innerHTML = "Смартфон HUAWEI nova 11i 8/128Gb Starry Black (MAO-LX9N)";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.8/2388x1080 Пикс";
      document.getElementById("item-current-price").innerHTML = "15999 ₽";
      document.getElementById("item-previous-price").innerHTML = "17999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.8/2388x1080 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-realme-c31-3-32-light-silver-rmx3501"){
      document.getElementById("item-name").innerHTML = "Смартфон realme C31 3/32 Light Silver (RMX3501)";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.5/1600x720 Пикс";
      document.getElementById("item-current-price").innerHTML = "5399 ₽";
      document.getElementById("item-previous-price").innerHTML = "12999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.5/1600x720 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-vivo-v25e-8-128gb-sunrise-gold"){
      document.getElementById("item-name").innerHTML = "Смартфон vivo V25e 8/128Gb Sunrise Gold";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.44/2404x1080 Пикс";
      document.getElementById("item-current-price").innerHTML = "18999 ₽";
      document.getElementById("item-previous-price").innerHTML = "27999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.44/2404x1080 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-xiaomi-redmi-10-2022-128gb-carbon-gray"){
      document.getElementById("item-name").innerHTML = "Смартфон Xiaomi Redmi 10 2022 128GB Carbon Gray";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.5/2400x1080 Пикс";
      document.getElementById("item-current-price").innerHTML = "11999 ₽";
      document.getElementById("item-previous-price").innerHTML = "18999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.5/2400x1080 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-14-pro-128gb-esim-deep-purple"){
      document.getElementById("item-name").innerHTML = "Смартфон Apple iPhone 14 Pro 128GB eSim Deep Purple";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.1/2556x1179 Пикс";
      document.getElementById("item-current-price").innerHTML = "106499 ₽";
      document.getElementById("item-previous-price").innerHTML = "119999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.1/2556x1179 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-14-pro-128gb-nanosim-esim-deep-purple"){
      document.getElementById("item-name").innerHTML = "Смартфон Apple iPhone 14 Pro 128GB nanoSim/eSim Deep Purple";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.1/2556x1179 Пикс";
      document.getElementById("item-current-price").innerHTML = "109499 ₽";
      document.getElementById("item-previous-price").innerHTML = "119999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.1/2556x1179 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-xiaomi-redmi-10-2022-64gb-carbon-gray"){
      document.getElementById("item-name").innerHTML = "Смартфон Xiaomi Redmi 10 2022 64GB Carbon Gray";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.5/2400x1080 Пикс";
      document.getElementById("item-current-price").innerHTML = "9999 ₽";
      document.getElementById("item-previous-price").innerHTML = "16999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.5/2400x1080 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-11-64gb-nanosim-esim-black"){
      document.getElementById("item-name").innerHTML = "Смартфон Apple iPhone 11 64GB nanoSim/eSim Black";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.1/1792x828 Пикс";
      document.getElementById("item-current-price").innerHTML = "45999 ₽";
      document.getElementById("item-previous-price").innerHTML = "57999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.1/1792x828 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-samsung-galaxy-a54-256gb-awesome-white"){
      document.getElementById("item-name").innerHTML = "Смартфон Samsung Galaxy A54 256GB Awesome White";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.4/2340x1080 Пикс";
      document.getElementById("item-current-price").innerHTML = "37999 ₽";
      document.getElementById("item-previous-price").innerHTML = "37999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.4/2340x1080 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-11-128gb-nanosim-esim-black"){
      document.getElementById("item-name").innerHTML = "Смартфон Apple iPhone 11 128GB nanoSim/eSim Black";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.1/1792x828 Пикс";
      document.getElementById("item-current-price").innerHTML = "52999 ₽";
      document.getElementById("item-previous-price").innerHTML = "62999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.1/1792x828 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-13-128gb-nanosim-esim-blue"){
      document.getElementById("item-name").innerHTML = "Смартфон Apple iPhone 13 128GB nanoSim/eSim Blue";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.1/2532x1170 Пикс";
      document.getElementById("item-current-price").innerHTML = "69999 ₽";
      document.getElementById("item-previous-price").innerHTML = "79999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.1/2532x1170 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-13-128gb-nanosim-esim-midnight"){
      document.getElementById("item-name").innerHTML = "Смартфон Apple iPhone 13 128GB nanoSim/eSim Midnight";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.1/2532x1170 Пикс";
      document.getElementById("item-current-price").innerHTML = "69999 ₽";
      document.getElementById("item-previous-price").innerHTML = "79999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.1/2532x1170 Пикс";
      
      
      
      
      }
      
    
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-14-pro-max-128gb-nanosim-esim-deep-purple"){
      document.getElementById("item-name").innerHTML = "Смартфон Apple iPhone 14 Pro Max 128GB nanoSim/eSim Deep Purple";
      document.getElementById("feature-info-1").innerHTML = "Экран 6.7/2796x1290 Пикс";
      document.getElementById("item-current-price").innerHTML = "119999 ₽";
      document.getElementById("item-previous-price").innerHTML = "129999 ₽";
      document.getElementById("feature-info-2").innerHTML = "Экран 6.7/2796x1290 Пикс";
      
      
      
      
      }
      
    
            
    </script>
<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Сервис</h4>
            <ul>
              <li><a href="about_us">О нас</a></li>
              <li><a href="https://rencredit.ru/about/">О банке</a></li>
              <li><a href="https://rencredit.ru/addresses/">Отделения и банкоматы</a></li>
              <li><a href="https://rencredit.ru/services/">Сервисы и услуги</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Помощь</h4>
            <ul>
              <li><a href="https://rencredit.ru/support/faq/">Поддержка клиентов</a></li>
              <li><a href="https://rencredit.ru/support/appeals/">Обратная связь</a></li>
              <li><a href="https://rencredit.ru/doc/support/forms/formy-tipovykh-spravok/">Форма справок и документов</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Услуги</h4>
            <ul>
              <li><a href="https://rencredit.ru/loans/">Кредиты</a></li>
              <li><a href="https://rencredit.ru/cards/">Карты</a></li>
              <li><a href="https://rencredit.ru/deposits/">Вклады</a></li>
              <li><a href="https://rencredit.ru/investments/">Инвестиции</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Контакты</h4>
            <div class="contact-info">
            <ul>
              <p style="color: #bbbbbb; font-size: 12px;">круглосуточно, бесплатно по России</p>
              <li><a href="#">8 800 200-0-981</a></li>
              <p style="color: #bbbbbb; font-size: 12px;">Номер может использоваться для исходящих вызовов</p>
              <li><a href="#">8 495 783-46-23</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
   </footer>
  </body>
  </html>
    