<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

    <h1>Смартфон Apple iPhone 14 Pro Max 128GB nanoSim/eSim Deep Purple</h1>
            <h1>Смартфон Apple iPhone 13 128GB nanoSim/eSim Blue</h1>
            <h1>Смартфон Infinix Smart 6 Plus X6823C 2/64Gb Black</h1>
            <h1>Смартфон Samsung Galaxy S23+ 512GB Cream (SM-S916/DS)</h1>
            <h1>Смартфон realme GT3 240W 16/1TB Booster Black</h1>
            <h1>Смартфон Xiaomi Redmi 9A 32GB Glacial Blue</h1>
            <h1>Смартфон Apple iPhone 14 Pro 256GB nanoSim/eSim Deep Purple</h1>
            <h1>Смартфон Apple iPhone 14 Pro Max 256GB eSim Deep Purple</h1>
            <h1>Смартфон Apple iPhone 11 64GB nanoSim/eSim Black</h1>
            <h1>Смартфон Samsung Galaxy A54 256GB Awesome White</h1>
            <h1>Смартфон realme C31 3/32 Dark Green (RMX3501)</h1>
            <h1>Смартфон HONOR X8 6/128GB Midnight Black (5109ACXU)</h1>
            <h1>Смартфон Apple iPhone 13 128GB nanoSim/eSim Midnight</h1>
            <h1>Смартфон vivo V25e 8/128Gb Sunrise Gold</h1>
            <h1>Смартфон Apple iPhone 11 128GB nanoSim/eSim White</h1>
            <h1>Смартфон Apple iPhone 14 Pro 128GB nanoSim/eSim Deep Purple</h1>
            <h1>Смартфон Apple iPhone 14 Pro Max 128GB nanoSim/eSim Space Black</h1>
            <h1>Смартфон realme C31 3/32 Light Silver (RMX3501)</h1>
            <h1>Смартфон Apple iPhone 11 128GB nanoSim/eSim Black</h1>
            <h1>Смартфон HONOR X8A 6/128GB 5109APCN Midnight black</h1>
            <h1>Смартфон HONOR X8 6+128Gb Titanium Silver</h1>
            <h1>Смартфон Xiaomi Redmi 10 2022 64GB Carbon Gray</h1>
            <h1>Смартфон Apple iPhone 13 128GB nanoSim/eSim Starlight</h1>
            <h1>Смартфон Apple iPhone SE 64GB Black</h1>
        </body>
    </html>