
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
const currentUrl = window.location.href;
    
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-huawei-p60-pro-8-256gb-rococo-pearl")
        document.write("Смартфон HUAWEI P60 Pro 8/256GB Rococo Pearl");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-huawei-nova-11i-8-128gb-mint-green-mao-lx9n")
        document.write("Смартфон HUAWEI nova 11i 8/128Gb Mint Green (MAO-LX9N)");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-14-pro-256gb-nanosim-esim-deep-purple")
        document.write("Смартфон Apple iPhone 14 Pro 256GB nanoSim/eSim Deep Purple");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-realme-gt3-240w-16-1tb-booster-black")
        document.write("Смартфон realme GT3 240W 16/1TB Booster Black");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-xiaomi-redmi-9a-32gb-glacial-blue")
        document.write("Смартфон Xiaomi Redmi 9A 32GB Glacial Blue");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-samsung-galaxy-s23-ultra-256gb-phantblack-sm-s918b-ds")
        document.write("Смартфон Samsung Galaxy S23 Ultra 256GB Phant.Black (SM-S918B/DS)");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-honor-x8-6-128gb-midnight-black-5109acxu")
        document.write("Смартфон HONOR X8 6/128GB Midnight Black (5109ACXU)");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-13-128gb-nanosim-esim-starlight")
        document.write("Смартфон Apple iPhone 13 128GB nanoSim/eSim Starlight");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-samsung-galaxy-s22-5g-8-128gb-phantom-black-sm-s901b-ds")
        document.write("Смартфон Samsung Galaxy S22 5G 8/128GB Phantom Black (SM-S901B/DS)");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-honor-x8-6128gb-titanium-silver")
        document.write("Смартфон HONOR X8 6+128Gb Titanium Silver");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-realme-c31-3-32-dark-green-rmx3501")
        document.write("Смартфон realme C31 3/32 Dark Green (RMX3501)");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-huawei-nova-11i-8-128gb-starry-black-mao-lx9n")
        document.write("Смартфон HUAWEI nova 11i 8/128Gb Starry Black (MAO-LX9N)");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-realme-c31-3-32-light-silver-rmx3501")
        document.write("Смартфон realme C31 3/32 Light Silver (RMX3501)");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-vivo-v25e-8-128gb-sunrise-gold")
        document.write("Смартфон vivo V25e 8/128Gb Sunrise Gold");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-xiaomi-redmi-10-2022-128gb-carbon-gray")
        document.write("Смартфон Xiaomi Redmi 10 2022 128GB Carbon Gray");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-14-pro-128gb-esim-deep-purple")
        document.write("Смартфон Apple iPhone 14 Pro 128GB eSim Deep Purple");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-14-pro-128gb-nanosim-esim-deep-purple")
        document.write("Смартфон Apple iPhone 14 Pro 128GB nanoSim/eSim Deep Purple");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-xiaomi-redmi-10-2022-64gb-carbon-gray")
        document.write("Смартфон Xiaomi Redmi 10 2022 64GB Carbon Gray");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-11-64gb-nanosim-esim-black")
        document.write("Смартфон Apple iPhone 11 64GB nanoSim/eSim Black");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-samsung-galaxy-a54-256gb-awesome-white")
        document.write("Смартфон Samsung Galaxy A54 256GB Awesome White");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-11-128gb-nanosim-esim-black")
        document.write("Смартфон Apple iPhone 11 128GB nanoSim/eSim Black");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-13-128gb-nanosim-esim-blue")
        document.write("Смартфон Apple iPhone 13 128GB nanoSim/eSim Blue");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-13-128gb-nanosim-esim-midnight")
        document.write("Смартфон Apple iPhone 13 128GB nanoSim/eSim Midnight");
            
    if (currentUrl == "http://127.0.0.1:8000/phones/smartfon-apple-iphone-14-pro-max-128gb-nanosim-esim-deep-purple")
        document.write("Смартфон Apple iPhone 14 Pro Max 128GB nanoSim/eSim Deep Purple");
            
    </script>
    </body>
</html>
    