
    <!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Телевизоры</title>
  <link rel="stylesheet" href="{% static 'css/phones.css' %}">
  <link rel="stylesheet" href="{% static 'css/header-footer.css' %}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function() {
    $(window).scroll(function() {
    if($(this).scrollTop() != 0) {
    $('#toTop').fadeIn();
    } else {
    $('#toTop').fadeOut();
    }
    });
    $('#toTop').click(function() {
    $('body,html').animate({scrollTop:0},800);
    });
    });
  </script>
</head>
<body>
<header class="site-header">
      <div class="site-header-top">
        <div class="site-header-top-left">
          <img src="{% static 'pictures/city.svg' %}">
          <a>Москва</a>
        </div>
        <div class="site-header-top-middle">
          <a href="https://rencredit.ru/">Для жизни</a>
          <a href="https://rencredit.ru/sme/">Для бизнеса</a>
          <a href="https://rencredit.ru/about/">О банке</a>
          <a href="https://rencredit.ru/addresses/">Отделения и банкоматы</a>
        </div>
        <div class="site-header-top-right">
          <img src="{% static 'pictures/mobile-bank.svg' %}">
          <a href="https://rencredit.ru/services/mobile-bank/" style="padding-right: 15px;">Мобильный банк</a>
          <img src="{% static 'pictures/internet-bank.svg' %}">
          <a href="https://ib.rencredit.ru/#/login">Интернет-банк</a>
        </div>
      </div>

      <div class="site-header-bottom">
        <a href='/'>
          <img class="logo" src="{% static 'pictures/new_logo.svg' %}">
        </a>
        <a class="cathegory-items" href = 'phones'>
          Смартфоны
        </a>
        <a class="cathegory-items" href = 'laptops'>
          Ноутбуки
        </a>
        <a style="color: #ff0078;"class="cathegory-items" href="tv">
          Телевизоры
        </a>
        <a class="cathegory-items" href = 'computers'>
          Компьютеры
        </a>
        <a class="cathegory-items" href = 'tablets'>
          Планшеты
        </a>
        <a class="cathegory-items" href = 'accessories'>
          Аксессуары
        </a>
        <a class="cathegory-items">
          Поиск
        </a>
        <a class="shopping-cart" href = 'basket'>
          Корзина
        </a>
      </div>

    </header> <br>

         <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-55-smart-tv-s3">
        <img class="item-photo" src="{% static 'pictures/tv/10031855.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1999  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-55-smart-tv-s3>
        <p class="item-name">
            Телевизор Haier 55 Smart TV S3
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 55/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        39999 ₽
      </p>
      <p class="item-previous-price">
        45999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-yandeks-43---umnyi-televizor-s-alisoi-yndx-00071">
        <img class="item-photo" src="{% static 'pictures/tv/10031656.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1249  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-yandeks-43---umnyi-televizor-s-alisoi-yndx-00071>
        <p class="item-name">
            Телевизор Яндекс 43'' - умный телевизор с Алисой (YNDX-00071)
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Yandex</span></li>
        <li>Экран: <span class="text-highligt">Экран 43/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        24999 ₽
      </p>
      <p class="item-previous-price">
        24999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-65-smart-tv-ax-pro">
        <img class="item-photo" src="{% static 'pictures/tv/10030671.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 2999  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-65-smart-tv-ax-pro>
        <p class="item-name">
            Телевизор Haier 65 Smart TV AX Pro
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 65/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        59999 ₽
      </p>
      <p class="item-previous-price">
        69999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-50-smart-tv-s1">
        <img class="item-photo" src="{% static 'pictures/tv/10031853.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1399  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-50-smart-tv-s1>
        <p class="item-name">
            Телевизор Haier 50 Smart TV S1
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 50/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        27999 ₽
      </p>
      <p class="item-previous-price">
        27999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-55-smart-tv-s1">
        <img class="item-photo" src="{% static 'pictures/tv/10031388.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1499  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-55-smart-tv-s1>
        <p class="item-name">
            Телевизор Haier 55 Smart TV S1
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 55/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        29999 ₽
      </p>
      <p class="item-previous-price">
        29999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-65-smart-tv-s3">
        <img class="item-photo" src="{% static 'pictures/tv/10031856.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 2749  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-65-smart-tv-s3>
        <p class="item-name">
            Телевизор Haier 65 Smart TV S3
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 65/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        54999 ₽
      </p>
      <p class="item-previous-price">
        59999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-skyworth-32ste6600">
        <img class="item-photo" src="{% static 'pictures/tv/400138188.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 649  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-skyworth-32ste6600>
        <p class="item-name">
            Телевизор SKYWORTH 32STE6600
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">SKYWORTH</span></li>
        <li>Экран: <span class="text-highligt">Экран 32/1366x768 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        12999 ₽
      </p>
      <p class="item-previous-price">
        12999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-vityaz-24lh0201">
        <img class="item-photo" src="{% static 'pictures/tv/10021226.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 249  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-vityaz-24lh0201>
        <p class="item-name">
            Телевизор Витязь 24LH0201
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Витязь</span></li>
        <li>Экран: <span class="text-highligt">Экран 24/1366x768 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Нет</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        4999 ₽
      </p>
      <p class="item-previous-price">
        5899
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-hisense-55u7hq">
        <img class="item-photo" src="{% static 'pictures/tv/10030424.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 3499  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-hisense-55u7hq>
        <p class="item-name">
            Телевизор Hisense 55U7HQ
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Hisense</span></li>
        <li>Экран: <span class="text-highligt">Экран 55/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        69999 ₽
      </p>
      <p class="item-previous-price">
        69999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-lg-50uq76003ld">
        <img class="item-photo" src="{% static 'pictures/tv/10031295.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1974  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-lg-50uq76003ld>
        <p class="item-name">
            Телевизор LG 50UQ76003LD
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">LG</span></li>
        <li>Экран: <span class="text-highligt">Экран 50/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        39499 ₽
      </p>
      <p class="item-previous-price">
        42999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-hisense-50a6bg">
        <img class="item-photo" src="{% static 'pictures/tv/10030411.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1499  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-hisense-50a6bg>
        <p class="item-name">
            Телевизор Hisense 50A6BG
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Hisense</span></li>
        <li>Экран: <span class="text-highligt">Экран 50/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        29999 ₽
      </p>
      <p class="item-previous-price">
        29999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-artel-ua32h3200">
        <img class="item-photo" src="{% static 'pictures/tv/10031347.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 749  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-artel-ua32h3200>
        <p class="item-name">
            Телевизор Artel UA32H3200
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Artel</span></li>
        <li>Экран: <span class="text-highligt">Экран 32/1366x768 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        14999 ₽
      </p>
      <p class="item-previous-price">
        17999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-hisense-55e7hq">
        <img class="item-photo" src="{% static 'pictures/tv/10030423.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 2249  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-hisense-55e7hq>
        <p class="item-name">
            Телевизор Hisense 55E7HQ
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Hisense</span></li>
        <li>Экран: <span class="text-highligt">Экран 55/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        44999 ₽
      </p>
      <p class="item-previous-price">
        44999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-philips-55pus7406-60">
        <img class="item-photo" src="{% static 'pictures/tv/10027336.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1349  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-philips-55pus7406-60>
        <p class="item-name">
            Телевизор Philips 55PUS7406/60
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Philips</span></li>
        <li>Экран: <span class="text-highligt">Экран 55/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        26999 ₽
      </p>
      <p class="item-previous-price">
        45999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-hisense-55a6bg">
        <img class="item-photo" src="{% static 'pictures/tv/10030412.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1749  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-hisense-55a6bg>
        <p class="item-name">
            Телевизор Hisense 55A6BG
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Hisense</span></li>
        <li>Экран: <span class="text-highligt">Экран 55/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        34999 ₽
      </p>
      <p class="item-previous-price">
        34999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-hi-vhix-40f152msy">
        <img class="item-photo" src="{% static 'pictures/tv/10025203.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 549  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-hi-vhix-40f152msy>
        <p class="item-name">
            Телевизор Hi VHIX-40F152MSY
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Hi</span></li>
        <li>Экран: <span class="text-highligt">Экран 40/1920x1080 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        10999 ₽
      </p>
      <p class="item-previous-price">
        12499
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-hisense-65a6bg">
        <img class="item-photo" src="{% static 'pictures/tv/10030413.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 2499  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-hisense-65a6bg>
        <p class="item-name">
            Телевизор Hisense 65A6BG
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Hisense</span></li>
        <li>Экран: <span class="text-highligt">Экран 65/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        49999 ₽
      </p>
      <p class="item-previous-price">
        49999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-toshiba-65c350le">
        <img class="item-photo" src="{% static 'pictures/tv/400076954.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 2499  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-toshiba-65c350le>
        <p class="item-name">
            Телевизор Toshiba 65C350LE
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Toshiba</span></li>
        <li>Экран: <span class="text-highligt">Экран 65/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        49999 ₽
      </p>
      <p class="item-previous-price">
        64999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-55-smart-tv-s7">
        <img class="item-photo" src="{% static 'pictures/tv/400095987.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 2999  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-55-smart-tv-s7>
        <p class="item-name">
            Телевизор Haier 55 Smart TV S7
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 55/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        59999 ₽
      </p>
      <p class="item-previous-price">
        79999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-50-smart-tv-s3">
        <img class="item-photo" src="{% static 'pictures/tv/10031854.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1749  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-50-smart-tv-s3>
        <p class="item-name">
            Телевизор Haier 50 Smart TV S3
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 50/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        34999 ₽
      </p>
      <p class="item-previous-price">
        43999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-32-smart-tv-s1">
        <img class="item-photo" src="{% static 'pictures/tv/10031851.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 799  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-32-smart-tv-s1>
        <p class="item-name">
            Телевизор Haier 32 Smart TV S1
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 32/1920x1080 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        15999 ₽
      </p>
      <p class="item-previous-price">
        15999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-43-smart-tv-s1">
        <img class="item-photo" src="{% static 'pictures/tv/10031852.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 1149  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-43-smart-tv-s1>
        <p class="item-name">
            Телевизор Haier 43 Smart TV S1
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 43/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        22999 ₽
      </p>
      <p class="item-previous-price">
        22999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-haier-h65s9ug-pro">
        <img class="item-photo" src="{% static 'pictures/tv/10030005.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 5999  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-haier-h65s9ug-pro>
        <p class="item-name">
            Телевизор Haier H65S9UG PRO
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Haier</span></li>
        <li>Экран: <span class="text-highligt">Экран 65/3840x2160 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        119999 ₽
      </p>
      <p class="item-previous-price">
        149999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
             <div class="item-box">
    <div class="item-photo-container">
    <a href="tv/televizor-artel-a32kh5500">
        <img class="item-photo" src="{% static 'pictures/tv/10031346.jpg' %}">
      </a>
      <p class="cashback-text" data-tooltip="Купите этот товар и получите кэшбек 849  ₽">Кэшбек 5%</p>
    </div>
    <div class="item-info">
    <a href=tv/televizor-artel-a32kh5500>
        <p class="item-name">
            Телевизор Artel A32KH5500
        </p>
      </a>
      <ul>
        <li>Бренд: <span class="text-highligt">Artel</span></li>
        <li>Экран: <span class="text-highligt">Экран 32/1366x768 Пикс"</span></li>
        <li>Поддержка Smart TV <span class="text-highligt">Поддержка Smart TV Да</span></li>

        
        </ul>
    </div>
    <div class="item-price-container">
      <p class="item-current-price">
        16999 ₽
      </p>
      <p class="item-previous-price">
        16999
      </p>
      <button class="add-to-cart">В корзину</button> <br>
      <a href = 'https://anketa.rencredit.ru/app/credit/site/#anketa'>
        <button class="credit-btn">Купить в кредит</button>
      </a>
    </div>
  </div>
        
    <DIV ID = "toTop" ><img style="width: 30px; opacity: 70%;" src="{% static 'pictures/arrow-icon.svg' %}" alt=""></DIV>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Сервис</h4>
            <ul>
              <li><a href="about_us">О нас</a></li>
              <li><a href="https://rencredit.ru/about/">О банке</a></li>
              <li><a href="https://rencredit.ru/addresses/">Отделения и банкоматы</a></li>
              <li><a href="https://rencredit.ru/services/">Сервисы и услуги</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Помощь</h4>
            <ul>
              <li><a href="https://rencredit.ru/support/faq/">Поддержка клиентов</a></li>
              <li><a href="https://rencredit.ru/support/appeals/">Обратная связь</a></li>
              <li><a href="https://rencredit.ru/doc/support/forms/formy-tipovykh-spravok/">Форма справок и документов</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Услуги</h4>
            <ul>
              <li><a href="https://rencredit.ru/loans/">Кредиты</a></li>
              <li><a href="https://rencredit.ru/cards/">Карты</a></li>
              <li><a href="https://rencredit.ru/deposits/">Вклады</a></li>
              <li><a href="https://rencredit.ru/investments/">Инвестиции</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Контакты</h4>
            <div class="contact-info">
            <ul>
              <p style="color: #bbbbbb; font-size: 12px;">круглосуточно, бесплатно по России</p>
              <li><a href="#">8 800 200-0-981</a></li>
              <p style="color: #bbbbbb; font-size: 12px;">Номер может использоваться для исходящих вызовов</p>
              <li><a href="#">8 495 783-46-23</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
   </footer>
    </body>
    </html>